   <!-- Main Header-->
    <header class="main-header header-style-two alternate-two">
		
		<!-- Header Top Two -->
    	<div class="header-top-two">
        	<div class="auto-container">
            	<div class="clearfix">
                    
                    <!--Top Left-->
                    <div class="top-left clearfix">
                    	<ul class="links clearfix">
                        	<li><a href="#"><span class="icon fa fa-phone"></span>06-05-92-88-31</a></li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span>jloussamboulou@gmail.com</a></li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-right clearfix">
                    	<ul class="social-icons">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                        </ul>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
		
        <div class="main-box">
            <div class="auto-container clearfix">
                <div class="logo-box">
                    <div class="logo"><a href="{{path("accueil")}}"><img src="images/logo.png" alt="" title=""></a></div>
                </div>
                
                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Togg le Button -->      
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li ><a href="{{path("accueil")}}">Accueil</a></li>
                                <li class="dropdown"><a href="">Conferences</a>
                                    <ul>
                                        <li><a href="{{path("conference")}}">A venir</a></li>
										<li><a href="#">Historiques</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{path("livres")}}">Boutique</a></li>
                                <li class="dropdown"><a href="about-us.html">A propos</a>
                                    <ul>
                                        <li><a href="#">A propos d nous</a></li>
										<li><a href="#">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{path("speaker")}}">Speakers</a></li>
                                <li><a href="#">Contact</a></li>
                                {% if app.user %}
                                    <li><a href="#"><span class="flaticon-shopping-cart"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!-- Outer box -->
                    <div class="outer-box">
                        <!--Search Box-->
                            {% if app.user %}
                                <div class="btn-box">
                                <a  class="theme-btn btn-style-one" href="{{ path('compte_logout') }}" style="text-color:white"><span class="btn-title"><i class="fa fa-user"></i> deconnexion</span></a>
                            </div>
                            {% else %}
                            <div class="btn-box">
                                <a  class="theme-btn btn-style-one"  data-toggle="modal" data-target="#exampleModalCenter0" style="text-color:white"><span class="btn-title"><i class="fa fa-user"></i> Connexion</span></a>
                            </div>
                            {% endif %}
                        <!-- Button Box -->
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
            
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo"><br/><br/><a href="index-2.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->
        {% if err %}
        <div class="alert alert-danger"> <center>Vos identifiants sont incorrects, verifiez votre email ou mot de passe !!</center> </div>
        {% endif %}
    </header>
    <!--End Main Header -->
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter0" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Mon compte </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path("compte_menu") }}" method="post">
                        <div class="modal-body">
                            <input type="text" class="form-control" name="_username" id="username" placeholder="exemple@gmail.com"><br/>
                            <input type="password" class="form-control" name="_password" id="password" placeholder="Mot de passe *****">
                        </div>
                        <div class="btn-box">
                            <center> 
                                <button type="submit" class="theme-btn btn-style-one" >
                                    <span class="btn-title">Connexion !</span>
                                </button>
                            </center><br/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--fin modal -->