{% extends 'base.html.twig' %}
{% block title %} Conference {% endblock %}
{% block body %}
   <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
        <div class="auto-container">
            <h1>Blog Grid</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Nos conferences</a></li>
            </ul>
        </div>
    </section>
    <!--End Page Title--> 


        <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Sidebar-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-single">
                         <!-- News Block Three -->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/images/resource/blog-1.jpg" alt=""></figure>
                                </div>
                                <div class="lower-content">
                                    <ul class="post-info">
                                        <li><span class="far fa-user"></span> Admin</li>
                                        <li><span class="far fa-comments"></span>{{ conference.commentaire | length }} ~ Commentaire(s)</li>
                                    </ul>    
                                    <h2>{{ conference.titre }} - {{ conference.ville }}</h2>
                                        <h3>{{ conference.adresse }}</h3>
                                    <blockquote>
                                        <span class="icon fa fa-quote-left"></span>
                                        <p> {{ conference.description }}</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                         <!-- Other Options -->
                        <div class="post-share-options clearfix">
                            
                        </div>
                    
                        <!-- Comments Area -->
                        <div class="comments-area">
                            <div class="group-title">
                                
                                <h3>{{ conference.commentaire | length }} ~ Commentaire(s)</h3>
                                
                            </div>
                            {% for commentaires in conference.commentaire %}
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="images/resource/thumb-1.jpg" alt=""></div> 
                                    <div class="comment-info">
                                        <div class="name">{{commentaires.user.prenom}}</div> -
                                        <div class="date">{{ commentaires.createdAt|format_datetime('medium', 'short') }}</div>
                                    </div>      
                                    <div class="text">{{ commentaires.texte}}</div>
                                    <a href="#" class="reply-btn theme-btn btn-style-one"><span class="btn-title">Repondre</span></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!--Comment Form-->
                        <div class="comment-form">
                            <div class="group-title">
                                <h3>Commentaire</h3>
                            </div>
                            <form method="post" action="https://expert-themes.com/html/eventrox/blog.html"> 
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Your Comments"></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Post Comment</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar padding-left">
                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <h4 class="sidebar-title">Les speakers</h4>
                            <div class="widget-content">
                                <!-- Blog Category -->
                                <ul class="blog-categories">
                                    <li><a href="blog-single.html">Josephat Aimé</a></li>
                                    <li><a href="blog-single.html">SAm Sam</a></li>
                                    <li><a href="blog-single.html">Christ rovi</a></li>
                                    <li><a href="blog-single.html">Srinath</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Tags Widget -->
                        <div class="sidebar-widget popular-tags">
                            <h4 class="sidebar-title">Tags</h4>
                            <div class="widget-content">
                                <a href="#">@Speakers</a>
                                <a href="#">@Boutique</a>
                                <a href="{{path("conference")}}">@Conference</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->


{% endblock %}